<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <h3 class="text-light">Employee Dashboard</h3>
      <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="clickAdd()">  
          <b>+</b>
      Add New Employee
  </button>
    
  </div>

</nav>
<table class="table text-center mt-5" >
  <thead>
      <tr>
          <th>ID</th>
          <th>Firstname</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Salary</th>
          <th>Action</th>
      </tr>
      
  </thead>

  <tbody>
          <tr *ngFor="let data of employeeData">
              <td>{{data.id}}</td>
              <td>{{data.firstName}}</td>
              <td>{{data.lastName}}</td>
              <td>{{data.email}}</td>
              <td>{{data.Telephone}}</td>
              <td>{{data.Salary}}</td>
              <td>
                <button class="btn btn btn-danger me-3" (click)="deleteEmployee(data.id)" >Delete</button>
                <button class="btn btn btn-info text-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop"(click)="clickEdit(data)"  >Edit</button>
                
              </td>
          </tr>
  </tbody>
</table>























<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Employee Dashboard</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <form [formGroup]="formEmployee">
              <b>Firstname</b>
              <input type="text" class="form-control" formControlName="firstName">
              <b>Lastname</b> 
              <input type="text" class="form-control" formControlName="lastName">
              <b>Email</b> 
              <input type="email" class="form-control" formControlName="email">
              <b>Telephone</b> 
              <input type="text" class="form-control" formControlName="Telephone">
              <b>Salary</b> 
              <input type="text" class="form-control" formControlName="Salary">
      </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Close</button>
      <button type="submit" class="btn btn-primary"(click)="postEmployee()" *ngIf="showAdd">Save</button>
      <button type="submit" class="btn btn-success" *ngIf="showUpdate" (click)="updateEmployee()">Update</button>
    </div>
  </div>
</div>
</div>
